<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus #newTodo (keyup.enter)="add(newTodo)"
      (blur)="add(newTodo)">
  </header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main">
    <input class="toggle-all" type="checkbox" (change)="markAll()">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <!-- These are here just to show the structure of the list items -->
      <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
      <li *ngFor="let todo of todos | async | filterStatus: status" [ngClass]="{'completed': todo.isCompleted}">
        <div class="view">
          <input class="toggle" type="checkbox" [checked]="todo.isCompleted" (change)="mark(todo)">
          <label>{{ todo.content }}</label>
          <button class="destroy" (click)="remove(todo)"></button>
        </div>
        <input class="edit" value="Create a TodoMVC template">
      </li>
    </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{ (todos | async | filterStatus: status).length }}</strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <a class="selected" (click)="setStatus('')" [ngClass]="{'selected': status===''}">All</a>
      </li>
      <li>
        <a (click)="setStatus('active')" [ngClass]="{'selected': status==='active'}">Active</a>
      </li>
      <li>
        <a (click)="setStatus('completed')" [ngClass]="{'selected': status==='completed'}">Completed</a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="clear()">Clear completed</button>
  </footer>
</section>
<footer class="info">
  <!-- Remove the below line ↓ -->
  <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
  <!-- Change this out with your name and url ↓ -->
  <p>Created by <a href="http://todomvc.com">you</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
